<a href="https://colab.research.google.com/github/Darkdew/ModelSelectionusing_cross_val_Score.ipynb/blob/master/ModelSelectionusing_cross_val_Score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

df= pd.read_csv('/content/drive/My Drive/Colab Notebooks/ModelSelectionusingCrossValidation/Purchased_Dataset.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [0]:
df= df.drop(['Gender', 'User ID'], axis=1)

In [7]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [0]:
X= df.iloc[:, 0:2]
y= df.iloc[:, 2]

In [0]:
#Alternatively: #Dont Execute
 X= df[['Age', 'EstimatedSalary']]
 y= df['Purchased']

In [9]:
X.isnull().any()

Age                False
EstimatedSalary    False
dtype: bool

In [12]:
X.shape

(400, 2)

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier #KNN uses Euclidean Distance
from sklearn import metrics

In [0]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
knnclassifier= KNeighborsClassifier(n_neighbors=5)# better to keep it odd

knnclassifier.fit(X_train, y_train)
y_pred= knnclassifier.predict(X_test)

score= metrics.accuracy_score(y_test, y_pred)
score

0.825

In [16]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=7) 
knnclassifier= KNeighborsClassifier(n_neighbors=5)# better to keep it odd

knnclassifier.fit(X_train, y_train)
y_pred= knnclassifier.predict(X_test)

score= metrics.accuracy_score(y_test, y_pred)
score
#we can see that random_state=7 in the split is giving the best score

0.8375

In [17]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=5)
knnclassifier= KNeighborsClassifier(n_neighbors=5)# better to keep it odd

knnclassifier.fit(X_train, y_train)
y_pred= knnclassifier.predict(X_test)

score= metrics.accuracy_score(y_test, y_pred)
score

0.7875

In [18]:
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=9)
knnclassifier= KNeighborsClassifier(n_neighbors=5)# better to keep it odd

knnclassifier.fit(X_train, y_train)
y_pred= knnclassifier.predict(X_test)

score= metrics.accuracy_score(y_test, y_pred)
score

0.775

In [0]:
#So we could see that for different random_states during splitting we got different scores
#lets use this concept with Cross Validation

In [21]:
from sklearn.model_selection import cross_val_score
knnclassifier= KNeighborsClassifier(n_neighbors=5)

print(cross_val_score(knnclassifier, X, y, cv=10, scoring= "accuracy"))

[0.7   0.925 0.85  0.875 0.775 0.675 0.75  0.8   0.725 0.775]

In [22]:
print(cross_val_score(knnclassifier, X, y, cv=10, scoring= "accuracy").mean())

0.7849999999999999

In [23]:
#lets apply logistic regression in the same way
from sklearn.linear_model import LogisticRegression
logreg= LogisticRegression()

print(cross_val_score(logreg, X, y, scoring= "accuracy").mean())

0.675

In [0]:
#Similarly we can try to get the cross_val_score's mean for different algorithms and finally
#select the algorithm giving the best mean score